<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MODUNURI</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!-- Header Section -->
<header class="navbar">
    <div class="logo">
        <a href="/"> <!-- 로고 클릭 시 index.html로 이동 -->
            <img src="/images/MODUNURI.png" class="logo img"> <!-- 이미지 추가 -->
            <span class="a">MODUNURI</span>
        </a>
    </div>
    <form class="search-container" action="/search" method="GET">
        <input type="text" placeholder="Search..." class="search-input" name="query">
    </form>

    <nav>
        <ul class="nav-links">
            <li><a href="/touristSpot/area-search">지역 별 검색</a></li>
            <li><a href="/touristSpot/search-by-accessibility">무장애 정보 검색</a></li>
            <li><a href="/touristSpot/map" id="community-link">지도 보기</a></li>
            <li><a href="/touristSpot/travelplan">여행 기록하기</a></li>
            <!-- 로그인 상태 확인 -->
            <li class="nav-item-right">
        <span th:if="${username != null}">
        <a class="login-message" th:text="${username} + '님 안녕하세요'"></a>
        <a href="/users/mypage" class="auth-button">MyPage</a>
        <a href="/users/logout" class="auth-button">Logout</a>
        </span>
                <span th:if="${username == null}">
        <a class="login-message">로그인을 해주세요</a>
        <a href="/users/signup" class="auth-button">SignUp</a>
        <a href="/users/login" class="auth-button">Log In</a>
    </span>
            </li>
        </ul>
    </nav>
</header>

<!-- Main Content Section -->
<main>
    <div class="slider"> <!-- 슬라이드 -->
        <div class="slides">
            <div class="slide" style="background-color: #ffffff;">Slide 1</div>
            <div class="slide" style="background-color: #ffffff;">Slide 2</div>
            <div class="slide" style="background-color: #ffffff;">Slide 3</div>
            <div class="slide" style="background-color: #ffffff;">Slide 4</div>
            <!-- 더 많은 슬라이드 추가 가능 -->
        </div>
        <div class="dots-container">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
    <!-- Additional Content Section -->
    <section class="additional-content">
        <h2>관광지 추천</h2>
        <p>모두누리가 추천하는 여행 코스</p>
    </section>

    <!-- 버튼 컨테이너 -->
    <div class="button-container">
        <a href="#" class="button">Button 1</a>
        <a href="#" class="button">Button 2</a>
        <a href="#" class="button">Button 3</a>
        <a href="#" class="button">Button 4</a>

    </div>
</main>

<!-- Footer Section -->
<footer class="footer">
    <div class="footer-links">
        <ul>
            <li><p>(주)코뿔소코퍼레이션</p></li>

        </ul>
    </div>
</footer>


<script src="/static/script/script.js"></script>
</body>
</html>