<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!-- Header Section -->
<header class="navbar">
    <div class="logo">
        <a href="/"> <!-- 로고 클릭 시 index.html로 이동 -->
            <img src="test.png"> <!-- 이미지 추가 -->
            MODUNURI
        </a>
    </div>
    <form class="search-container" action="/search" method="GET">
        <input type="text" placeholder="Search..." class="search-input" name="query">
    </form>

    <nav>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Travel Tips</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Support Center</a></li>
            <!-- 로그인 상태 확인 -->
            <li class="nav-item-right">
                <span th:if="${username != null}">
                    <a href="/users/mypage" class="my-page-button">My Page</a> <!-- My Page 버튼 추가 -->
                    <a th:text="${username} + '님 안녕하세요'"></a>
                    <a href="/users/logout" class="auth-button">Logout</a>
                </span>
                <span th:if="${username == null}">
                    <a href="/users/signup" class="auth-button">Sign Up</a>
                    <a href="/users/login" class="auth-button">Log In</a> <!-- Log In 버튼 추가 -->
                </span>
            </li>
        </ul>
    </nav>
</header>

<div class="back-container">
    <div class="content-container">
        <div class="login-container">
            <h1>Login</h1>
            <!-- form 태그에 action과 method 추가 -->
            <form action="/users/login" method="POST">
                <label for="userId">ID</label>
                <input type="text" id="userId" name="userId" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>

                <button type="submit" class="login-button">Log In</button>
            </form>
            <a href="/users/signup" class="link-to-login">Don't have an account? Sign up</a>
        </div>
    </div>
</div>


    <!-- 로그인 실패 시 에러 메시지 표시 -->
    <div th:if="${param.error}" class="error">
        Invalid email or password. <!-- 테스토 용으로 쓴거임(변경가능) -->
    </div>


<!-- Footer Section -->
<footer class="footer">
    <div class="footer-links">
        <ul>
            <li><a href="#">Find a Store</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
        </ul>
    </div>
</footer>
<script src="/static/script/script.js"></script>
</body>
</html>
